{{line-chart data=filteredContent chartClassName="temperatures-chart" unit="°C"}}

<div class="chart-data-title">
  <div class="row">
    <div class="col-xs-6">
      {{current-value model=lastEntrie unit="°" title="Temperature"}}
    </div>
    <div class="col-xs-6 align-right">
      {{svg-icon class="dashboard-icon icon-thermometer"}}
    </div>
  </div>
</div>

<div class="chart-data-block">
  <div class="chart-data-block-wraper">
    {{#dashboard-table}}
      <tbody>
      {{#each tenLastFilteredContent as |temperature|}}
        <tr>
          <td>{{temperature.value}} °C</td>
          <td>{{format-date-twitter temperature.time}}</td>
        </tr>
      {{else}}
        <tr>
          <td colspan="2">No data to display.</td>
        </tr>
      {{/each}}
      </tbody>
    {{/dashboard-table}}
  </div>
</div>
